<div class="wrapper">
    <div class="main">
        <table mat-table [dataSource]="banks" class="mat-elevation-z8">

            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let bank"> {{banks.indexOf(bank)+1}} </td>
            </ng-container>

            <ng-container [matColumnDef]="column" *ngFor='let column of displayedColumns'>
                <th mat-header-cell *matHeaderCellDef> {{column | separate | titlecase}} </th>
                <td mat-cell *matCellDef="let bank"> <span *ngIf='!bank.editIsActive'>{{bank[column]}}</span>
                    <mat-form-field appearance="standard" *ngIf='bank.editIsActive' class="edit">
                        <mat-label>{{bank[column]}}</mat-label>
                        <input *ngIf='column === "name"' matInput [placeholder]="bank[column]"
                            [(ngModel)]='bank[column]'>
                        <input *ngIf='column !== "name"' type="number" matInput [placeholder]="bank[column]"
                            [(ngModel)]='bank[column]'>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="Edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let bank">
                    <button mat-flat-button color='primary' (click)='edit(banks.indexOf(bank))'
                        *ngIf='!bank.editIsActive'>
                        Edit</button>
                    <button mat-flat-button color='primary' (click)='save(banks.indexOf(bank))'
                        *ngIf='bank.editIsActive'>
                        Save</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let bank"><button mat-flat-button color='warn'
                        (click)='delete(banks.indexOf(bank))'>Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedAllColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedAllColumns;"></tr>
        </table>
        <div class="add">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter name" [(ngModel)]='name'>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Interest Rate</mat-label>
                <input matInput placeholder="Enter interest rate" [(ngModel)]='interestRate' type="number">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Maximum Loan</mat-label>
                <input matInput placeholder="Enter maximum loan" [(ngModel)]='maximumLoan' type="number">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Minimum Down Payment</mat-label>
                <input matInput placeholder="Enter minimum down payment" [(ngModel)]='minimumDownPayment' type="number">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Loan Term</mat-label>
                <input matInput placeholder="Enter loan term" [(ngModel)]='loanTerm' type="number">
            </mat-form-field>
            <button mat-raised-button color='accent' (click)='add()'>Add</button>
        </div>
    </div>
    <ul>
        <h1>All Banks</h1>
        <li *ngFor='let bank of allBanks; let i = index'>
            {{i+1}} | {{bank.name}} | {{bank.interestRate}}% | {{bank.maximumLoan}} | {{bank.minimumDownPayment}} |
            {{bank.loanTerm}}
        </li>
    </ul>
</div>