<!-- Start article -->

<section>

    <!-- Start menu section -->

    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" routerLink="/banks">
                    <span>Banks</span>
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" routerLink="/calc">
                    <span>Mortgage calculator</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Finish menu section -->

</section>

<!-- Finish article -->